@{
    Layout = null;
}
@model Inventory.Models.Account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
 
    <script>
        function ValidateInput() {
            if (document.getElementById('TxtUserName').value = "" || document.getElementById('TxtPassword').value == ""){
                alert('Fillup User & Password Field.')
                return false;
            }
            return true;
        }
    </script>
</head>

<body>

    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {
        <div class="row">
            <div class="col-12" style="height: auto; width: 330px; margin: 0 auto; margin-top: 100px; background: #f0f7f7; padding: 15px 20px; border-radius:5px">
                <div class="col-12">
                    <div class="card-img-top text-center">
                        <img src="~/assets/images/user.png" height="60px" />
                        <h4 class="text-center">Login</h4>
                    </div>

                    <div class="form-group">
                        <label for="name">User Name:</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "text", id = "TxtUserName", placeholder = "Enter user name", name = "name" })
                    </div>
                </div>
                <div class="col-12" style="padding-top:15px">
                    <div class="form-group">
                        <label for="name">User Password:</label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", id = "TxtPassword", placeholder = "Enter your password", name = "Password" })
                    </div>

                </div>
                <div class="col-12 text-center" style="padding:30px 0px">
                    <input class="btn btn-outline-primary" type="submit" value="Login" style="width:100px;" onclick="return ValidateInput()" />
                    <span id="spnLloginMessage"></span>
                </div>
            </div>

        </div>
    }

    <script>
     var outMessage = "@ViewBag.Message";
        var RedirectUrl = "@Url.Action("DashBoard", "Home")";
       document.addEventListener("DOMContentLoaded", function () {
        if (outMessage != "") {
            if (outMessage == "Login Success") {
                setTimeOut(function () {
                    window.location.href = RedirectUrl;
                }, 2000)
            }
            document.getElementById('spnLloginMessage').innerHTML = outMessage;
        }
    })
    </script>
</body>
</html>
